html, body{
	height: 100%;
}
div{
	background-image: url(https://uwalls.ru/gallery/4/source/4457.jpg);
	border: 6px inset #FF6347;
	padding: 8px;
	height: 500px;
	width:500px;

	}
	div div{
		height: 200px;
		width: 200px;
		background-image:url(http://photoshop.e-publish.ru/images/clip_image001260000000000000000.jpg);
        overflow: scroll;
        border:4px inset #FF6347;
        width: 40%;
        float: right;
        

    }
    body {
    	background: linear-gradient(to top,#00CED1,#87CEFA,#AFEEEE) no-repeat;
    	overflow: scroll;
    }
    p{
    	border: 2px inset black;
    	background-color: #3CB371;
    	text-align: center;
    	font-size: 30px;
    	color:gold;
    }
    h1{
    	border:4px inset black;
    	width: 50%;
    	text-align: center;
    	background-color: #3CB371;
    	color: gold;
    	float: left;
    }

