body{
background-color: #B22222;


}
h1{
color: #FFD700;
font-family:Brush Script MT, Brush Script Std, cursive;
font-size: 60px;
}
.menu{
	background: #FF7F50;
	font:25px Calluna;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2)
	border:2px solid #d8d8d8;

}
.menu li{
	display: inline-block;
	
} 
.menu a{
	text-decoration: none;
	color:#FFE4B5;
	display: block;
	border-right:1px solid #d8d8d8;
	padding: 10px 15px; 
}

#aa{
    width: 98%;
    margin-left: 20px;
    

}
#bb span{
	width:600px ;
	float: left;
	font-family: FF Unit Slab;
	background: #FF7F50;
	border: 2px solid #d8d8d8;
	font-size: 19px;
}
a{
	font: 40px Josefin Sans;
	color:#5F9EA0;
}
#image{
	background: #FF7F50;
	margin-right: 10px;
	padding: 10px 15px;
	float: right;
	width:650px;
	border: 2px solid #d8d8d8;
	margin-left: 10px;
	}
	img{
		border: 4px solid #5F9EA0;

	}
	.line{
		text-decoration: underline;
	}








	


